@model ProjetoMVC.Models.Contato

@{
    ViewData["Title"] = "Deletar contato";
}

<h1>Deletar contato</h1>
<p style="font-size: 1.3em;">Você realmente  deseja <span style="color: red;">EXCLUIR PERMANENTEMENTE</span> esse contato? essa ação é irreversível</p>
<hr>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(x => x.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(x => x.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(x => x.Ativo)
        </dd>
    </dl>
</div>


<form asp-action="Deletar">
    <input type="submit" value="Deletar" class="btn btn-danger btn-sm">
    <a asp-action="Index" class="btn btn-secondary btn-sm">Voltar</a>
</form>
